@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
body{
  max-height: 100vh;
  max-width: 100vw;
}

#root{
  height: 100vh;
  width: 100vw;
}

.App{
  background-color:rgb(93, 137, 112);
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  max-width: 100vw;

  margin: 0 auto;
  box-sizing: 0 2px 6px #08a05ca4;
  padding: 0 15px;
}
/*----------Header------------------*/

nav{
  background-color: #08a05c50;
  width: 100vw;
  height: 20vh;
  min-height: 100px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns:  1fr 3fr 1fr;
  justify-content: center;
  align-items: center;
}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: #08a05c50;
}

li{
  list-style: none;
}

.zapaheader{
  height: 100px;
  width: 100px;
}

nav ul{
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li{     /*Los items de la lista del header*/
  padding: 0 1rem;
}

nav ul li a{  /*Los enlaces dentro del header*/
  font-weight: bold;
}

nav .cart{
  position: relative;
  cursor: pointer;
}nav .cart box-icon{
  width: 45px;
  height: 45px;
}
nav .cart span{
  width: 30px;
  height: 30px;
  position: absolute;
  top: -1rem;
  right: 12.5rem;
  width: -2.5rem;
  height: 1.5rem;
  border: 3px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: red;
}

nav a {
  font-size: 20px;
}

/*-----------productos-----------------*/
.title{
  display: grid ;
  align-items: center;
  justify-content: center;

}

.mar{
  margin-top: 1000;
}

.imagen{
  height: 250px;
  width: 250px;
}

.productos{
 
  padding: 5rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem,1fr));
  gap: 3rem 1rem;
  box-sizing: border-box;
  background-color: rgba(106, 144, 112, 0.7);
}

.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius:5px;
  width: 300px;
 
}

.producto:hover{

  box-shadow: 1px 10px 50px 2px rgb(177, 225, 204);
}
.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color:rgb(217, 255, 255);
}

.producto_footer p {
  font-weight: 700;
  color: rgba(0, 0, 0, .555);
  text-transform: uppercase;
  font-size: 18px;
}

.producto_footer .price{
  font-size:2rem;
  color: #1a202c;
}

.producto .button{
  width: 100%;
}

.menu{
  margin-left: 70px;

}
.welcome-home{
  display: grid;
  height: 80vh;
  width: 100vw;
  display: grid;
  grid-auto-rows: 30% 70%;
  justify-items: center;
}

.login{
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #08a05c50;
}

.datos{
  display: grid;
  grid-template-areas: 
  "correo contra "
  "enviar enviar ";
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

.correo{
  display: grid;
  grid-area: correo;
}
.contra {
  display: grid;
  grid-area: contra;
}
.enviar {
  display: grid;
  justify-content: center;
  grid-area: enviar;
}

.btn{
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(44, 119, 51);
}

.btn:hover{
  cursor: pointer;
}

.button{
    display: grid;
    align-content: center;
    width: 135px;
    color: white;
  }

  .btn:hover{
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .input_large{
    width: 300px;
  }

  .centrar{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .space{
    display: grid ;
    margin-bottom: 10px;
  }

  .register-text{
    font-size: 30px;
    color: rgb(44, 102, 73);
  }

  form label{
    font-weight: bold;
    font-size:20px ;
    color: rgb(44, 102, 73);
  }
